[Desktop Entry]
Name=Cinnarch Installer CLI
GenericName=Cinnarch Installer CLI
Comment=Cinnarch Installer
Exec=sudo gnome-terminal -x /arch/setup
Icon=/usr/share/cinnarch/cinnarchsetup.png
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;System;
